<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<File name="LogToFile" fileName="logs/app.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<!-- avoid duplicated logs with additivity=false -->
		<Logger name="com.rkc.zds" level="warn" additivity="false">
			<AppenderRef ref="LogToFile" />
		</Logger>
		<logger name="org.hibernate" level="warn" additivity="false">
			<AppenderRef ref="LogToFile" />
		</logger>
		<Root level="error">
			<AppenderRef ref="LogToFile" />
		</Root>
	</Loggers>
</Configuration>